<script setup>
import { useSlots } from 'vue'

const slot = useSlots().default()[0].children
</script>
<template>
  <label class="flex items-start cursor-pointer">
    <input type="checkbox"
           class="w-3 h-3 min-w-[12px] mt-[7px] mr-2 cursor-pointer appearance-none border border-solid border-teal-700 rounded default:ring-2 indeterminate:bg-gray-300 checked:bg-teal-700"
    />
    <span v-html="slot"></span>
  </label>
</template>