<script setup>
const props = defineProps({
  title: String,
  url: String,
})
</script>

<template>
  <a :href="url"
    :title="title"
    target="_blank"
    class="relative z-10 px-1 underline text-cyan-700 underline-offset-4 decoration-dotted transition-all duration-300 hover:bg-cyan-700 hover:text-white"
  >
    {{ title }}
  </a>
</template>