<script setup>
import { defineProps, ref } from 'vue'

const props = defineProps({
  checked: Number,
  total: Number,
})

</script>
<template>
  <em :style="`color:hsl(87,${Math.round(props.checked / props.total * 100)}%,41%)`"
  >
    {{ checked }}/{{ total }}
  </em>
</template>