<script setup>
import { ref, onMounted } from 'vue'
import codeTagActivator from '../helpers/codeTagActivator'
import OssCheckbox from './OssCheckbox.vue'
import OssLink from './OssLink.vue'
import OssTotals from './OssTotals.vue'

const props = defineProps({
  src: String,
})

const index = ref(0)
const data = ref({ environments: [{url: '', type: ''}] })
const total = ref(0)
const checked = ref(0)

const env = (key = '') => key ?
  data.value.environments[index.value][key] :
  data.value.environments[index.value]

const url = (endpoint = '') => {
    return env('url') +
      (endpoint.startsWith('/') ? '' : '/') + 
      endpoint
}
const loadData = () => import(`../assets/${props.src}.json`)
  .then((module) => {
    total.value = 0
    data.value = module.data
    data.value.items.forEach((item) => {
      total.value += item.tasks.length
    })
    codeTagActivator()
  })

const switchUrl = () => {
  index.value++
  if (index.value >= data.value.environments.length) {
    index.value = 0
  }
  loadData().then(() => codeTagActivator())
}

const updateCheckedItems = () => {
  checked.value = document.querySelectorAll('input[type="checkbox"]:checked').length
}

onMounted(() => {
  loadData()
})
</script>

<template>
  <div class="fixed top-0 left-0 z-50 w-full py-2 text-2xl font-semibold bg-white">
    <div class="flex items-center justify-start gap-2 w-full max-w-6xl px-8 mx-auto print:max-w-none print:px-0 print:mx-0">
      <span>{{ data?.title }}</span>
      <oss-totals :checked="checked" :total="total" />
    </div>
</div>
<div class="mt-12">
  <h2 class="pb-2 text-xl font-semibold">Website: <button class="cursor-pointer" @click="switchUrl">{{ url() }}</button></h2>
  <ol class="mt-2 ml-5 list-decimal">
    <li class="pb-4" v-for="item in data.items">
      <p>Page: <oss-link :url="url(item.page)" :title="item.title" /></p>
      <template v-for="task in item.tasks">
        <oss-checkbox @click="updateCheckedItems" v-if="typeof task === 'string'">
          {{ task }}
        </oss-checkbox>
        <div v-else-if="task.env === env('type')">
          <oss-checkbox @click="updateCheckedItems">
          {{ task.content }}
        </oss-checkbox>
        </div>
      </template>
    </li>
  </ol>
</div>
</template>
