@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
    @apply outline outline-teal-700;
}

strong {
    @apply relative text-teal-700 font-normal cursor-help;
}

strong:after {
    @apply absolute block top-5 left-0 w-52 transition-all duration-300 -z-20 px-2 py-1 text-xs bg-white border border-solid border-cyan-700 opacity-0 rounded;
    content: attr(data-title);
}

strong:hover:after {
    @apply z-20 opacity-100;
}

a:after, code:after {
    @apply absolute block -right-1 -top-1 transition-all duration-500 w-4 h-4 z-20 px-1 py-0.5 bg-white border border-solid border-cyan-700 opacity-0 rounded;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M11 2.04938V4.06189C7.05369 4.55399 4 7.92038 4 12C4 16.4183 7.58172 20 12 20C16.0796 20 19.446 16.9463 19.9381 13H21.9506C21.4489 18.0533 17.1853 22 12 22C6.47715 22 2 17.5228 2 12C2 6.81465 5.94668 2.5511 11 2.04938ZM18.7071 6.70711L12 13.4142L10.5858 12L17.2929 5.29289L14 2H22V10L18.7071 6.70711Z'%3E%3C/path%3E%3C/svg%3E");
}

a:hover:after, code:hover:after {
    @apply opacity-100;
}

code {
    @apply relative inline-block px-1 py-0.5 rounded text-xs bg-amber-100 border border-solid border-amber-400 text-amber-700 cursor-context-menu;
}

code:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M6.99979 7V3C6.99979 2.44772 7.4475 2 7.99979 2H20.9998C21.5521 2 21.9998 2.44772 21.9998 3V16C21.9998 16.5523 21.5521 17 20.9998 17H17V20.9925C17 21.5489 16.551 22 15.9925 22H3.00728C2.45086 22 2 21.5511 2 20.9925L2.00276 8.00748C2.00288 7.45107 2.4518 7 3.01025 7H6.99979ZM8.99979 7H15.9927C16.549 7 17 7.44892 17 8.00748V15H19.9998V4H8.99979V7ZM4.00255 9L4.00021 20H15V9H4.00255Z'%3E%3C/path%3E%3C/svg%3E");
}

code.copied:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M6.99979 7V3C6.99979 2.44772 7.4475 2 7.99979 2H20.9998C21.5521 2 21.9998 2.44772 21.9998 3V16C21.9998 16.5523 21.5521 17 20.9998 17H17V20.9925C17 21.5489 16.551 22 15.9925 22H3.00728C2.45086 22 2 21.5511 2 20.9925L2.00276 8.00748C2.00288 7.45107 2.4518 7 3.01025 7H6.99979ZM8.99979 7H15.9927C16.549 7 17 7.44892 17 8.00748V15H19.9998V4H8.99979V7ZM15 9H4.00255L4.00021 20H15V9ZM8.50242 18L4.96689 14.4645L6.3811 13.0503L8.50242 15.1716L12.7451 10.9289L14.1593 12.3431L8.50242 18Z'%3E%3C/path%3E%3C/svg%3E");
}